*.png
*.jpg
*.wmv
*.avi
*.mp4
*.json


*.zip
*.pth
*.pkl
*.pyc
*.txt


*.pptx
*.csv
*.ods
*.docx
*.DS_Store
.gitignore copy

# yolact
yolact/attached
yolact/CHANGELOG.md
yolact/discriminator.onnx
yolact/environment.yml
yolact/Yolact_structure.yml
yolact/data/#config.py#
yolact/external/DCNv2/_ext.cpython-37m-x86_64-linux-gnu.so
yolact/external/DCNv2/DCNv2.egg-info/PKG-INFO
*.so
*.o
*.h
*.cpp
*.cu
*.log
*.onnx
*.0
*.svg
*.sh
*.pyx
*.html
*.json
*.css
*.js

